<div class="mt-5" >
        <form method="POST">
            <div class="mb-3 form-group">
                <label for="search-input" class="form-label">Nội dung tìm kiếm</label>
                <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa tìm kiếm" >
            </div>
            
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>